{% comment %} product-rating.liquid {% endcomment %}
<div class="product-rating" aria-label="Rating: {{ rating }} out of 5 stars">
  {% for i in (1..5) %}
    {% if i <= rating %}
      <svg class="star filled" width="16" height="16" ...>...</svg>
    {% else %}
      <svg class="star empty" width="16" height="16" ...>...</svg>
    {% endif %}
  {% endfor %}
</div>